[defaults]
inventory          = inventory.aws_ec2.yml
remote_user        = ec2-user
private_key_file   = ~/.ssh/p01-webha-key
host_key_checking  = False
stdout_callback    = default
deprecation_warnings = False

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o ProxyCommand="ssh -W %h:%p -i ~/.ssh/p01-webha-key -o StrictHostKeyChecking=no ec2-user@BASTION_PUBLIC_IP"
pipelining = True